html {
	height: 100%;
}

body {
	height:100%;
	font-family: 'Pragati Narrow', sans-serif;	
}

#landing {
	height:100%;
}

#brand {
	width: 90%;
    display: block;
    margin: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  	
}

#landing-btn {
	position:relative;
	top:80%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.header {
	background-color: #FFFFFF;
	height: 200px;
}

#heading {
	width:40%;
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding-left: 250px;

}
.subtitle {
	color:#464646;
	font-size:25px;
	text-align:center;
	padding-left: 250px;
}

.sidebar {
	position: fixed;
	background-color: #DFE1E0;
	height:90%;
	width:250px;
	margin-left: 20px;
	padding: 10px;
}

.selfie {
	width:128px;
	height:192px;
	margin-left: 61px;
	border: #464646 solid 3px ;
}

.mini-title{
	color:#464646;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
}

.mini-title:hover {
	color:#EA5A79;
	font-weight: bold;
}

a {
	color:#464646;
	text-decoration: none;
}

.icon {
	color:#FFFFFF;
	font-size:50px;
	margin: 20px 5px 5px 5px;
}

.container {
	background-color: #464646;
	width: auto;
	padding-left: 300px;
	padding-right: 70px;
}

.section-title {
	color:#FFFFFF;
	font-size: 35px;
	text-align: center;
	padding: 20px;
}

.about {
	color:#FFFFFF;
	text-align: center;
	width:100%;
	background-color: #464646;
	min-height:260px;
	margin-left: 90px;
	overflow: scroll;
}

.about-icon {
	font-size: 60px;
}

.skill-set {
	display: inline-block;
	float:left;
	width:100px;
	margin:0px 100px 50px 100px;
}

.skill-title {
	font-size: 25px;
}

.portfolio-container {
	background-color: #FFFFFF;
	height:auto;
	width: auto;
	padding-left: 250px;
}

.button-container {
	text-align: center;
}

#gallery{
	padding-bottom: 20px;
	margin-left: 80px;
	min-height: 300px;
	max-height: 500px;
	overflow: scroll;
}

.gallerypic {
	display: inline-block;
	float:left;
	width:350px;
	height:200px;
	margin:5px;
	border: 1px solid #464646;
}

.gallerypic:hover {

}

#message {
	height:100px;
}

input {
	width:400px;
	line-height: 2;
	padding:2px;
	margin: 5px;
}

button {
	font-family: 'Pragati Narrow', sans-serif;
	font-size:20px;
	background-color:#DFE1E0;
	color:#464646;
	padding-left: 15px;
	padding-right: 15px;
	margin: 5px 5px 15px 5px;
	border: none;
}

button:hover {
	background-color: #464646;
	color:#FFFFFF;	
}

.active {
	background-color: #EA5A79;
}

#contact {
	text-align: center;
}

#submit {
	font-family: 'Pragati Narrow', sans-serif;
	font-size:20px;
	background-color:#EA5A79;
	color:#DFE1E0;
	padding-left: 15px;
	padding-right: 15px;
	margin: 5px 5px 15px 5px;
	border: none;
}

#submit:hover {
	background-color: #464646;
	color:#FFFFFF;
}

footer {
	margin-left: auto;
	margin-right:auto;
	background-color:#FFFFFF;
	color:#464646;	
	padding-left: 240px;
	text-align: center;
	height:70px;
	padding-top:30px;
}

/* Width at 980px and below */
@media screen and (max-width: 980px) {
	.container {
		padding-left:220px ;
	}

	#about-title, #contact-title {
		padding-left: 130px;
	}

	.skill-set {
		margin: 0px 50px 25px 50px;
	}
	
	.section-title {
		
	}

	#gallery {
		margin-left: 185px;
	}

	#contact {
		margin-left: 100px;
	}

}

/* Width at 768px and below */
@media screen and (max-width: 768px) {
	.container {
		padding-left: 205px;
	}

	.about-icon {
		font-size: 40px;
	}

	.skill-set {
		margin:0px 20px 12px 20px;
	}

	#gallery {
		margin-left: 90px;
	}
}

/* Width at 640px and below */
@media screen and (max-width: 640px) {
	.sidebar {
		width: 200px;
	}

	.selfie {
		margin-left: 35px;
	}

	.container {
		padding-left: 170px;
	}
	
	button {
		padding-left: 8px;
		padding-right:8px;
	}

	#about-title {
		padding-left:170px;
	}

	.about-icon {
		font-size: 30px;
	}

	.skill-set {
		margin:0px 10px 6px 10px;
	}

	#gallery {
		margin-left: 10px;
	}

	input {
		width: 300px;
	}

}
